<div class="row">
    <div class="container">
        <button type="button" class="btn btn-success" onclick="newModel()">添加{{.Lable}}</button>
    </div>
</div>

<div class="row">
    <div class="container">
        <table id="data_table"  
            data-toggle="table"
            data-url="/table/?model={{.Name}}"
            data-query-params="queryParams"
            data-pagination="true"
            data-side-pagination="server"
            data-sort-order="desc"
            data-page-list="[5, 10, 20, 50, 100, 200]"
            style="word-break:break-all; word-wrap:break-all;"
            >
            <thead>
                <tr>
                    {{range .Fields}}
                    {{if .Visible }}
                    <th data-field='{{.Name}}' data-sortable="{{.Sortable}}" >{{.Lable}}</th>
                    {{end}}
                    {{end}}
                    <th data-formatter="actionFormatter" data-events="actionEvents">操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal fade" id="data_dialog" style="z-index:2000">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="data_modal_title" >新</h4>
            </div>
            <div class="modal-body" id="modal_content">
                <form class="form-horizontal" role="form" id="form_interface" >
                    {{range .Fields}}
                    <div class="control-group" id="data_line_{{.Name}}">
                        <label class="control-label">{{.Lable}}</label>
                        <div class="controls">
                            {{if eq .Widget 0}}
                            <input type="text" class="form-control" id="{{.Name}}" name="{{.Name}}" value="" placeholder="" >
                            {{else if eq .Widget 1}}
                            {{range $i, $v := .Enum}}
                            <label class="radio-inline"> <input type="radio" name="{{.Name}}" id="{{.Name}}" value="{{$i}}" >{{$v}}</label>
                            {{end}}
                            {{else if eq .Widget 2}}
                            <select class="form-control" id="{{.Name}}" name="{{.Name}}" >
                                {{range $i, $v := .Enum}}
                                <option value ="{{$i}}">{{$v}}</option>
                                {{end}}
                            </select>
                            {{end}}
                        </div>
                    </div>
                    {{end}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">放弃</button>
                <button type="button" class="btn btn-primary" onclick="submitInterface()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
    <div class="modal fade" id="message_dialog" style="z-index:3000">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="message_modal_title" >提示</h4>
                </div>
                <div class="modal-body" id="message_modal_content">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm_dialog" style="z-index:3000">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="confirm_modal_title" ></h4>
                </div>
                <div class="modal-body" id="confirm_modal_content">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">放弃</button>
                    <button type="button" class="btn btn-danger" onclick="doConfirm()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="message_box"  style="z-index:3000">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="message_title" ></h4>
                </div>
                <div class="modal-body" id="message_content">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showMessage(content) {
        $("#message_modal_content").html(content);
        $("#message_dialog").modal('show');
    }

    function showMessageAlert(title, content) {
        $("#message_title").html(title);
        $("#message_content").html(content);
        $("#message_box").modal('show');
    }

    function newModel() {
        {{range .Fields}}
        {{if not .Addible}}
        $("#data_line_{{.Name}}").hide();
        {{end}}
        {{end}}
        $("#data_modal_title").html("新建{{.Lable}}");
        $("#data_dialog").modal('show');
    }

    var modifyID = 0;
    //显示修改接口对话框
    function modifyDialog(e, value, row, index) {
        modifyID = row.ID;
        {{range .Fields}}
        $("#{{.Name}}").val(row.{{print .Name}});
        {{end}}

        $("#data_modal_title").html("修改接口基本信息");
        $("#data_dialog").modal('show');
    }


    function rowStyle(row, index) {
        //'active' 'success', 'info', 'warning', 'danger'
        return { classes: 'success'};
    }

    function queryParams(params) {
        return params; 
    }
    //添加到接口的链接
    function nameFormatter(value, row, index) {
        return '<a target="_parent" href="/site/id='+row.ID+'" >'+value+'</a>';
    }

    //添加`操作`列对应事件
    function actionFormatter(value, row, index) {
        return '<a class="edit glyphicon glyphicon-pencil" href="javascript:void(0)" title="修改"></a>' +
        '&nbsp;&nbsp;' +
        '<a class="delete glyphicon glyphicon-trash" href="javascript:void(0)" title="删除"></a>' +
        '&nbsp;&nbsp;' +
        '<a class="deploy glyphicon glyphicon-cloud-upload" href="javascript:void(0)" title="发布"></a>' ;
    }

    window.actionEvents = {
        'click .edit': modifyDialog,
        'click .delete': deleteDialog, 
    };

    $('#data_table').bootstrapTable('refreshOptions',{});

</script>
