<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        {{template "header.html"}}
        <title>{{.Lable}}</title>
    </head>

    <body>
        {{template "navbar.html" .}}

    <div class="row">
        <div class="container">
            <button type="button" class="btn btn-success" onclick="openModifyDialog()">修改{{.Lable}}</button>
        </div>
    </div>

        {{template "edit.html" .}}

    <div class="row">
        <div class="container"> 
        {{range .Fields}}
                <div class="control-group" id="data_line_{{.Name}}">
                    <label class="control-label">{{.Lable}}</label>
                    <div class="controls">
                        <pre id="detail_{{.Name}}" ></pre>
                    </div>
                </div> 
                {{end}}
            </div>
        </div>

        {{template "footer.html" .}}

        <script>

            var data = {}
            function openModifyDialog() {
                modifyDialog(data);
            }


            function initView() {
                $.ajax({ 
                    type: "GET",
                    url:"/item/?table={{.Name}}&id={{.ID}}", 
                    dataType:"json",
                    success:function(result){
                        {{range .Fields}}
                        data.{{.Name}} = result.Data.{{.Name}};
                        $("#detail_{{.Name}}").text((result.Data.{{.Name}}));
                        {{end}}
                    }, 
                    error:function(XMLHttpRequest,textStatus, errorThrown) { 
                        alert(errorThrown);
                    }
                });
            }

            $(function(){
                initView();
            });

        </script>

    </body>
</html>

