<div class="row">
    <div class="container">
        <button type="button" class="btn btn-success" onclick="createDialog()">添加{{.Lable}}</button>
    </div>
</div>

<div class="row">
    <div class="container">
        <table id="data_table"  
            data-toggle="table"
            data-url="/table/?model={{.Name}}"
            data-escape="true"
            data-query-params="queryParams"
            data-pagination="true"
            data-side-pagination="server"
            data-sort-order="desc"
            data-page-list="[5, 10, 20, 50, 100, 200]"
            style="word-break:break-all; word-wrap:break-all;"
            >
            <thead>
                <tr>
                    {{range .Fields}}
                    {{if .Visible }}
                    {{if .Reference}}
                    <th data-field='{{.Name}}' data-sortable="{{.Sortable}}" data-formatter="{{.Reference}}Formatter">{{.Lable}}</th>
                    {{else}}
                    <th data-field='{{.Name}}' data-sortable="{{.Sortable}}" >{{.Lable}}</th>
                    {{end}}
                    {{end}}
                    {{end}}
                    <th data-formatter="actionFormatter" data-events="actionEvents">操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

{{template "edit.html" .}}

<script>

    {{range .Fields}}
    {{if .Visible }}
    {{if .Reference}}
    function {{.Reference}}Formatter(value, row, index) {
        return '<a target="_parent" href="/detail/?table={{.Reference}}&id='+row.{{.Relation}}+'" >'+row.{{.Name}}+'</a>';
    }
    {{end}}
    {{end}}
    {{end}}


    function rowStyle(row, index) {
        //'active' 'success', 'info', 'warning', 'danger'
        return { classes: 'success'};
    }

    function queryParams(params) {
        return params; 
    }
    //添加到接口的链接
    function nameFormatter(value, row, index) {
        return '<a target="_parent" href="/site/id='+row.ID+'" >'+value+'</a>';
    }

    //添加`操作`列对应事件
    function actionFormatter(value, row, index) {
        return '<a class="edit glyphicon glyphicon-pencil" href="javascript:void(0)" title="修改"></a>' +
        '&nbsp;&nbsp;' +
        '<a class="delete glyphicon glyphicon-trash" href="javascript:void(0)" title="删除"></a>' ;
    }

    function openModifyDialog(e, value, row, index) {
        modifyDialog(row);
    }

    function openDeleteDialog(e, value, row, index) {
        deleteDialog(row, row.ID);
    }

    window.actionEvents = {
        'click .edit': openModifyDialog,
        'click .delete': openDeleteDialog, 
    };

    $('#data_table').bootstrapTable('refreshOptions',{});

</script>
